body {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	background-color: #000;
	padding-bottom: 0px !important;
	z-index: 0;
	overflow: hidden !important;
	width: 100vw;
}

hr{
	border-color: white;
	border-width: 1px;
	padding: 0 !important
	;
}

span.material-symbols-outlined {
	padding-left: 8px;
	padding-right: 16px;
}

button {
    padding-right: 35px;
    padding-bottom: 8px;
}

p {
	font-family: "Poppins", sans-serif;
}

.btn-primary {
	width: 87vw;
	background-color: #45D3BD;
	color: #000000;
	border-radius: 60px;
	text-align: center;
	font-size: 5vw;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.btn-primary.disabled {
	pointer-events: none;
	background-color: #45D3BD !important;
	opacity: .5;
	border-color: #ffffff;
	border-style: solid;
	border-width: 1px;
}

.btn-group-selected {
	justify-content: center;
	width: 30vw;
	background-color: #45D3BD;
	color: #000000;
	border: 1px solid #D9D9D9;
	border-radius: 60px;
	font-size: .7rem;
	padding-top: .7rem;
	padding-bottom: .7rem;
}

.btn-group-outlined {
	justify-content: center;
	width: 30vw;
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #D9D9D9;
	border-radius: 60px;
	font-size: .7rem;
	padding-top: .7rem;
	padding-bottom: .7rem;
}

/* .btn-group-outlined:active {
	background-color: #45D3BD;
	color: #000000;
} */

.pill-map-nofill {
	height: 75px;
	width: 260px;
	background-color: #000;
	color: #45D3BD;
	border-radius: 63px 0px 0px 63px;
	border: 1px solid #45D3BD;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	font-size: 10vw;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.pill-schedule-filled {
	height: 75px;
	width: 260px;
	background-color: #45D3BD;
	color: #000;
	border-radius: 0px 63px 63px 0px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	font-size: 10vw;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.pill-map-fill {
	height: 75px;
	width: 260px;
	background-color: #45D3BD;
	color: #000;
	border-radius: 63px 0px 0px 63px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	font-size: 34px;
	font-family: "Poppins", sans-serif;
	font-weight: 10vw;
}

.pill-schedule-nofill {
	height: 75px;
	width: 260px;
	background-color: #000;
	color: #45D3BD;
	border: 1px solid #45D3BD;
	border-radius: 0px 63px 63px 0px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	font-size: 34px;
	font-family: "Poppins", sans-serif;
}

.pill {
	justify-content: center;
}

.col-4 {
	max-width: 75px;
}

.day-text {
	color:#45D3BD;
	font-size: 3vw;
	vertical-align: middle;
}

.icon-next {
	width: 2.5vh;
}

.schedule-day {
	justify-content: center;
	display: inline-flex;
	text-align: center;
}

.day-wrapper {
	width: 100vw;
	flex-direction: row;
	vertical-align: middle;
	text-align: center;
}

.welcome-text{
	font-family: "Poppins", sans-serif;
	font-size:5vw;
}


.map-title {
	color:#45D3BD;
	font-size: 10vw;
	left: 100px;
	top: 100px;
}

.map-title-less {
	color:#45D3BD;
	font-size: 8vw;
	left: 100px;
	top: 100px;
}

.map-title-sub {
	color:#eef5f4;
	font-size: 6vw;
	left: 100px;
}

.map-size {
	width: 150vw;
	overflow: hidden;
}

.map-size-rt {
	width: 150vw;
	left: -200px;
	overflow: hidden;
}


.map-title-close {
	color: #45D3BD;;
	font-size: 6vw;
}

.br-text{
	font-family: "Poppins", sans-serif;
	color: #45D3BD;
	font-size:8vw;
}

.italic-text{
	font-family: "Poppins", sans-serif;
	font-size:5vw;
	font-style: italic;
}

.gradient-lines{
	width: 100vw;
	transform: translate(-30%, -30%);
	background-image: url('assets/img/vf-gradient.svg');
	overflow: hidden;
}

.gradient-lines-after{
	width: 100vw;
	background-image: url('assets/img/vf-gradient.svg');
	overflow: hidden;
}

.card {
    background-color: #343433;
    color: #fff;
    border-radius: 20px;
	width: 94vw;
	height: fit-content;
}

.no-gutters {
    margin-right: 20px;
    margin-left: 20px;
}

.image {
    height: 9vw;
}

.img-box {
   padding-top: 35px;
   padding-right: 0;
}

.btn.btn-link {
	color: #45D3BD;
	padding: 0;
	font-size: 3vw;
}



.time {
    font-size: 3.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 30vw;

}

.desc-copy {
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 4rem;
	padding-left: 6rem;
	padding-right: 6rem;
}


.card-title {
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 25vw;

}

.card-text {
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    width: 34vw;

}

.col-md-3 {
    padding-left: 0;
}

.card-body {
    padding-left: 1rem !important;
    padding-top: .5rem !important;
    padding-bottom: .125rem !important;
}

.btn.btn-outline-primary {
	border-radius: 50px;
	width: fit-content;
	padding-right: 40px;
	color: #fff;
	border: 2px solid #45D3BD;
}


.detail-text {
    width: 380px;
    padding-bottom: 20px;
}

.map-button {
    padding-left: 95px;
    width: fit-content;
}

.v-spacer-100 {
	margin-top: 100px;
}

.v-spacer-200 {
	margin-top: 200px;
}

.v-spacer-250 {
	margin-top: 250px;
}

.v-spacer-400 {
	margin-top: 400px;
}

.z-low {
	z-index: 1;
}

.z-mid {
	z-index: 5;
}

.z-hi {
	z-index: 10;
}

.gsm-logo {
	display: inline-flex;
	width: 40vw;

}

.gsm-logo-after {
	width: 40vw;

}

.reminder-wrapper {
	display: inline-flex;
}

.vertical-scroll-wrapper {
	margin-left: 0vw;
	
}

.vertical-scroll {
	display: inline-flex;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 60vh;
}

/* width */
::-webkit-scrollbar {
	width:0px;
	padding-left: 5rem;
}
  
/* Track */
::-webkit-scrollbar-track {
	background:#ffffff; 
	border-radius: 3px;
	padding-right: 2rem;
}
   
 /* Handle */
::-webkit-scrollbar-thumb {
	background: #45D3BD; 
	height: 50px;
	border-radius: 3px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #59D6AF; 
}

.color-group {
	font-family: "Poppins", sans-serif;
	font-size:3vw;
	flex-direction: column;
}

.questions {
	font-family: "Poppins", sans-serif;
	top: 800px;
}

.groups {
	justify-content: space-evenly;
}

.groups-wrapper {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}


.card:active {
	border: 4px solid #45D3BD;
}

.parent{
	position: relative;
}

.child {
	position: absolute;
}

#overlay {
  position: fixed;
  display: none; 
  width: 100vw;
  height: auto;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.94);
  z-index: 2;
  cursor: pointer;

}

.map-scale {
	position: relative;
	scale: 100%;
	left: 200px;
	overflow: hidden ;
}

.map-scale-middle {
	position: absolute;
	scale: 134%;
	right: 500px;
	overflow: hidden ;
}

.show {
	display:block;
}

.hide {
	display:none;
}

/* iOS row handling */
.row:before, .row:after{
 display: inline-block !important;
}
